<!doctype html>
<html ng-app="diplomacy">
<head>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/angularjs\angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div class="col-md-6">
		<div ng-controller="MatchesController">
			<div class="form-group">
				<label for="match">All Matches</label>
				<select class="form-control" ng-model="matchId" name="match" id="match" ng-change="setMatch(matchId)">
				<option ng-repeat="(key, match) in matches track by $index" value="{{match.match_id}}">
						{{match.name}}
					</option>
				</select>
			</div>

			<div class="form-group">
				<label for="empire">Empires in current match</label>
				<select class="form-control" ng-model="empireId" name="empire" id="empire" ng-change="setEmpire(matchId, empireId);">
					<option ng-repeat="empire in empires track by $index" value="{{empire.empire_id}}">
						{{empire.name}}
					</option>
				</select>
			</div>
			<!--{{territories}}-->
			<ul class="list-unstyled">
				<li ng-repeat="boardSquare in territories | filter : {unit: '!none'}">
					<form>
						<h3>{{boardSquare.territory.name}} | {{boardSquare.unit}}</h3>
						<div class="form-group">
							<label for="action">Action:</label>
							<select class="form-control" ng-model="action" name="action" id="action">
								<option value="hold">Hold</option>
								<option value="move">Move or Attack</option>
								<option value="support">Support</option>
								<option ng-show="boardSquare.unit === 'fleet'" value="convoy">Convoy</option>
							</select>
						</div>
						<div ng-show="action=='move'">
							<div class="form-group">
								<label for="move-destination">Move to:</label>
								<select ng-model="destination" class="form-control" name="destination" id="move-destination">
									<option ng-repeat="neighbour in boardSquare.neighbours" value="{{neighbour.territory_id}}">
										{{neighbour.name}}
									</option>
								</select>
							</div>
						</div>
						<div ng-show="action=='support'">
							<div class="form-group">
								<label for="support-territory">Support troops in:</label>
								<select ng-model="source" class="form-control" name="territory" id="support-territory">
									<option ng-repeat="neighbour in boardSquare.neighbours" value="{{neighbour.territory_id}}">
										{{neighbour.name}}
									</option>
								</select>
							</div>
							<div>
								<label for="support-destination">Support them to:</label>
								<select ng-model="destination" class="form-control" name="destination" id="support-destination">
									<option ng-repeat="neighbour in boardSquare.neighbours" value="{{neighbour.territory_id}}">
										{{neighbour.name}}
									</option>
								</select>
							</div>
						</div>
						<div ng-show="action=='convoy'">
							<div class="form-group">
								<label for="convoy-source">Convoy from</label>
								<select ng-model="source" class="form-control" name="source" id="convoy-source">
									<option ng-repeat="neighbour in boardSquare.neighbours" value="{{neighbour.territory_id}}">
										{{neighbour.name}}
									</option>
								</select>
							</div>
							<div class="form-group">
								<label for="support-destination">Convoy to</label>
								<select ng-model="destination" class="form-control" name="destination" id="support-destination">
									<option ng-repeat="neighbour in boardSquare.neighbours" value="{{neighbour.territory_id}}">
										{{neighbour.name}}
									</option>
								</select>
							</div>
						</div>
						<div class="invisible">
							<span id="command-text-{{$index}}">{{action}} {{boardSquare.territory.territory_id}} {{destination}} {{source}}</span>
						</div>
					</form>
				</li>
			</ul>
		</div>
		<input class="btn btn-primary" type="submit" onclick="sendForms()">
		<blockquote id="last">
		</blockquote>
	</div>
</body>
</html>

<!-- vim: ts=3 sts=0 sw=3 noexpandtab :
-->
